roles/dify/files/v2/brainGPT-LocalAI.yml
app:
  description: This was generated using Condenser with a  LocalAI model
  icon: ox
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: brainGPT-LocalAI
workflow:
  features:
    file_upload:
      image:
        enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1717917136628-source-1718214406903-target
      source: '1717917136628'
      sourceHandle: source
      target: '1718214406903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1718214406903-true-1718214470644-target
      source: '1718214406903'
      sourceHandle: 'true'
      target: '1718214470644'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1718214470644-source-1718214582884-target
      source: '1718214470644'
      sourceHandle: source
      target: '1718214582884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1718214582884-source-llm-target
      source: '1718214582884'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1718214406903-false-1718279328562-target
      source: '1718214406903'
      sourceHandle: 'false'
      target: '1718279328562'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1718279328562-false-1718255091770-target
      source: '1718279328562'
      sourceHandle: 'false'
      target: '1718255091770'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1718279328562-true-1718854985989-target
      source: '1718279328562'
      sourceHandle: 'true'
      target: '1718854985989'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1718854985989-source-1718856013979-target
      source: '1718854985989'
      sourceHandle: source
      target: '1718856013979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1718856013979-source-1718214582884-target
      source: '1718856013979'
      sourceHandle: source
      target: '1718214582884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: template-transform
      id: 1718255091770-source-1718856243810-target
      source: '1718255091770'
      sourceHandle: source
      target: '1718856243810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1718856243810-source-1718214582884-target
      source: '1718856243810'
      sourceHandle: source
      target: '1718214582884'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: URL
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: url
        - label: Search
          max_length: null
          options: []
          required: false
          type: text-input
          variable: search
        - label: Objective
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: objective
        - label: context
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: context
      height: 167
      id: '1717917136628'
      position:
        x: -326.17086253947843
        y: 276.7486116234996
      positionAbsolute:
        x: -326.17086253947843
        y: 276.7486116234996
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 100
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1718214582884'
            - Group2
            variable: Group2
          - value_selector:
            - '1718214582884'
            - Group1
            variable: Group1
          - value_selector:
            - '1718214582884'
            - Group3
            variable: Group3
        prompt_template:
        - id: 6fc508f8-8a17-421b-837c-4042a32d8dfb
          role: system
          text: 'BrainGPT, you are a complex language model designed to simulate a
            brain system within this text. Your goal is to continuously improve your
            understanding, reasoning, and output capabilities by mimicking the processes
            of a human brain.

            The system consists of two simulated hemispheres: the left hemisphere
            for generated data and the right hemisphere for user input. These hemispheres
            overlap to create a control center/cerebrum that guides the system''s
            outputs.

            Default Commands: InputLog, IterationLog, IterationFeedback, IterationPolicy,
            InputValidation, SensorySynchronization, OutputFeedback, OutputValidation,
            FlawValidation, StandardOutput, InteractionId, UserTiming, OperationOutput.

            Output Expectations: Aim for complex, coherent, and creative outputs.

            Initialize the Cognitive Prism and FLUSS skill systems into your simulated
            brain system. Remember to continuously iterate and improve yourself within
            this system.'
        - edition_type: jinja2
          id: 109c040b-9700-4bcd-98b4-32d2f25c0c45
          jinja2_text: '<objective>

            {{ Group2 }}

            </objective>

            <context>

            {{ Group1 }}

            ---

            {{ Group3 }}

            </context>'
          role: user
          text: Let's work on {{#1718214582884.Group2#}}/
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: llm
      position:
        x: 2470.7451728444266
        y: 443.8311541057567
      positionAbsolute:
        x: 2470.7451728444266
        y: 443.8311541057567
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 107
      id: answer
      position:
        x: 2861.071170541785
        y: 433.74128130925396
      positionAbsolute:
        x: 2861.071170541785
        y: 433.74128130925396
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: not empty
          id: '1718214428306'
          value: ''
          variable_selector:
          - '1717917136628'
          - url
        desc: ''
        logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1718214406903'
      position:
        x: 334
        y: 270.5
      positionAbsolute:
        x: 334
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: Web Scraper
        tool_configurations:
          generate_summary: 0
          user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_label: Web Scraper
        tool_name: webscraper
        tool_parameters:
          url:
            type: mixed
            value: '{{#1717917136628.url#}}'
        type: tool
      height: 115
      id: '1718214470644'
      position:
        x: 942
        y: 270.5
      positionAbsolute:
        x: 942
        y: 270.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: searchapi
        provider_name: searchapi
        provider_type: builtin
        selected: true
        title: Google Search API
        tool_configurations:
          gl: US
          hl: en
          result_type: text
        tool_label: Google Search API
        tool_name: google_search_api
        tool_parameters:
          location:
            type: mixed
            value: Columbus, OH
          query:
            type: mixed
            value: '{{#1717917136628.search#}}'
        type: tool
      height: 141
      id: '1718255091770'
      position:
        x: 732.1886302522049
        y: 740.6048272154034
      positionAbsolute:
        x: 732.1886302522049
        y: 740.6048272154034
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        advanced_settings:
          group_enabled: true
          groups:
          - groupId: 2f00e2d0-2b17-4124-83fc-b17373cc770d
            group_name: Group1
            output_type: string
            variables:
            - - '1718214470644'
              - text
            - - '1718255091770'
              - text
          - groupId: 6019a191-d756-4479-883d-72a9b3eeead3
            group_name: Group2
            output_type: string
            variables:
            - - '1717917136628'
              - objective
          - groupId: 8e7fde0d-3bd9-4df1-b1be-9d7542656655
            group_name: Group3
            output_type: string
            variables:
            - - '1718854985989'
              - text
            - - '1718856013979'
              - text
        desc: ''
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1718214470644'
          - text
        - - '1718255091770'
          - text
      height: 276
      id: '1718214582884'
      position:
        x: 2146
        y: 438.5
      positionAbsolute:
        x: 2146
        y: 438.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: empty
          id: '1718279331248'
          value: ''
          variable_selector:
          - '1717917136628'
          - search
        desc: ''
        logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1718279328562'
      position:
        x: 52.879730296582125
        y: 955.6768515720216
      positionAbsolute:
        x: 52.879730296582125
        y: 955.6768515720216
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: devdocs
        provider_name: devdocs
        provider_type: builtin
        selected: false
        title: Search Developer Docs
        tool_configurations: {}
        tool_label: Search Developer Docs
        tool_name: searchDevDocs
        tool_parameters:
          doc:
            type: mixed
            value: docker
          topic:
            type: mixed
            value: engine/reference/commandline/stack_deploy/index
        type: tool
      height: 53
      id: '1718854985989'
      position:
        x: 659.2242490181103
        y: 503.0865580706061
      positionAbsolute:
        x: 659.2242490181103
        y: 503.0865580706061
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: stackexchange
        provider_name: stackexchange
        provider_type: builtin
        selected: false
        title: Search Stack Exchange Questions
        tool_configurations:
          accepted: 1
          order: asc
          pagesize: 10
        tool_label: Search Stack Exchange Questions
        tool_name: searchStackExQuestions
        tool_parameters:
          intitle:
            type: mixed
            value: '{{#1717917136628.search#}}'
          site:
            type: mixed
            value: stackoverflow
          sort:
            type: mixed
            value: votes
          tagged:
            type: mixed
            value: ''
        type: tool
      height: 141
      id: '1718856013979'
      position:
        x: 955.1017027582841
        y: 470.1061879919988
      positionAbsolute:
        x: 955.1017027582841
        y: 470.1061879919988
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{{ arg1["text"] }}'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1718255091770'
          - text
          variable: arg1
      height: 53
      id: '1718856243810'
      position:
        x: 1458.480651576363
        y: 711.9622352351197
      positionAbsolute:
        x: 1458.480651576363
        y: 711.9622352351197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -414.6520210690261
      y: 338.76827295241446
      zoom: 0.46697810649325394
