roles/dify/files/v1/TranscriptionEditor.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: TranscriptionEditor
workflow:
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: template-transform
        targetType: end
      id: 1716354679692-1716352786636
      selected: false
      source: '1716354679692'
      sourceHandle: source
      target: '1716352786636'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: 1716551095978-1716551428726
      selected: false
      source: '1716551095978'
      sourceHandle: 'true'
      target: '1716551428726'
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: variable-assigner
      id: 1716551428726-1716551482202
      selected: false
      source: '1716551428726'
      sourceHandle: source
      target: '1716551482202'
      targetHandle: '1716551428726'
      type: custom
    - data:
        sourceType: template-transform
        targetType: variable-assigner
      id: 1716551555864-1716551482202
      selected: false
      source: '1716551555864'
      sourceHandle: source
      target: '1716551482202'
      targetHandle: '1716551555864'
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1716354058874-1716546965405
      selected: false
      source: '1716354058874'
      sourceHandle: '1'
      target: '1716546965405'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: template-transform
      id: 1716546965405-1716553209636
      selected: false
      source: '1716546965405'
      sourceHandle: source
      target: '1716553209636'
      targetHandle: '1716546965405'
      type: custom
    - data:
        sourceType: question-classifier
        targetType: end
      id: 1716354058874-1716553488107
      selected: false
      source: '1716354058874'
      sourceHandle: '1716547210372'
      target: '1716553488107'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: llm
      id: 1716553209636-1716553939927
      selected: false
      source: '1716553209636'
      sourceHandle: source
      target: '1716553939927'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1716553939927-1716547224323
      selected: false
      source: '1716553939927'
      sourceHandle: source
      target: '1716547224323'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: 1716547224323-1716555123795
      selected: false
      source: '1716547224323'
      sourceHandle: source
      target: '1716555123795'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1716555123795-1716555242896
      selected: false
      source: '1716555123795'
      sourceHandle: 'true'
      target: '1716555242896'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
      id: 1716555242896-1716354679692
      selected: false
      source: '1716555242896'
      sourceHandle: source
      target: '1716354679692'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: end
      id: 1716555123795-1716555525403
      selected: false
      source: '1716555123795'
      sourceHandle: 'false'
      target: '1716555525403'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1716551095978-1716550584381
      selected: false
      source: '1716551095978'
      sourceHandle: 'false'
      target: '1716550584381'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
      id: 1716550584381-1716551555864
      selected: false
      source: '1716550584381'
      sourceHandle: source
      target: '1716551555864'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1716352416629-source-1718373114979-target
      selected: false
      source: '1716352416629'
      sourceHandle: source
      target: '1718373114979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: parameter-extractor
      id: 1718373114979-true-1718373220864-target
      selected: false
      source: '1718373114979'
      sourceHandle: 'true'
      target: '1718373220864'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: tool
      id: 1718373220864-source-1718373133176-target
      selected: false
      source: '1718373220864'
      sourceHandle: source
      target: '1718373133176'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1718373114979-false-1718373409478-target
      selected: false
      source: '1718373114979'
      sourceHandle: 'false'
      target: '1718373409478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1718373133176-source-1718373409478-target
      selected: false
      source: '1718373133176'
      sourceHandle: source
      target: '1718373409478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: template-transform
      id: 1718373409478-source-1718373686637-target
      selected: false
      source: '1718373409478'
      sourceHandle: source
      target: '1718373686637'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: if-else
      id: 1718373686637-source-1716551095978-target
      selected: false
      source: '1718373686637'
      sourceHandle: source
      target: '1716551095978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-assigner
        targetType: template-transform
      id: 1716551482202-source-1718374049414-target
      selected: false
      source: '1716551482202'
      sourceHandle: source
      target: '1718374049414'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: question-classifier
      id: 1718374049414-source-1716354058874-target
      selected: false
      source: '1718374049414'
      sourceHandle: source
      target: '1716354058874'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: Transcript
          max_length: null
          options: []
          required: false
          type: paragraph
          variable: transcript
        - label: context
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: context
        - label: Search
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: search
        - label: Tag
          max_length: 48
          options:
          - 'False'
          - 'True'
          required: true
          type: select
          variable: tag
        - label: Tasks
          max_length: 48
          options:
          - Backlog
          - Summary
          required: true
          type: select
          variable: tasks
        - label: videoDesc
          max_length: 48
          options:
          - 'False'
          - 'True'
          required: true
          type: select
          variable: videoDesc
        - label: videoURL
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: videoURL
      height: 245
      id: '1716352416629'
      position:
        x: 966
        y: -1445.5
      positionAbsolute:
        x: 966
        y: -1445.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1716354679692'
          - output
          variable: response
        selected: false
        title: End
        type: end
      height: 89
      id: '1716352786636'
      position:
        x: 1492.4792461704178
        y: 94.41214452505932
      positionAbsolute:
        x: 1492.4792461704178
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Backlog
        - id: '1716547210372'
          name: Summary
        desc: ''
        instruction: '

          '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: command-r-plus
          provider: cohere
        query_variable_selector:
        - '1716352416629'
        - tasks
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
      height: 183
      id: '1716354058874'
      position:
        x: 766.0657569357237
        y: -231.2726068701524
      positionAbsolute:
        x: 766.0657569357237
        y: -231.2726068701524
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{{ desc }}

          ---

          {{ summary }}'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1716555242896'
          - text
          variable: desc
        - value_selector:
          - '1716547224323'
          - text
          variable: summary
      height: 53
      id: '1716354679692'
      position:
        x: 1189.4792461704178
        y: 94.41214452505932
      positionAbsolute:
        x: 1189.4792461704178
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 816d1427-40ba-4cba-914f-dd13c5340dc4
        desc: ''
        multiple_retrieval_config:
          reranking_model:
            model: rerank-english-v2.0
            provider: cohere
          score_threshold: 0.5
          top_k: 2
        query_variable_selector:
        - '1716352416629'
        - context
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gemini-1.5-pro-latest
            provider: google
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 91
      id: '1716546965405'
      position:
        x: -628.5207538295824
        y: 94.41214452505932
      positionAbsolute:
        x: -628.5207538295824
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1716352416629'
          - context
        desc: summarize the text
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: 43a8578e-8b7e-4b5a-b9c2-31ceaca6c607
          role: system
          text: 'Based on the topic analysis, For each topic, generate one or more
            concrete and actionable tasks, providing a brief title and detailed description
            for each. Cite the relevant parts of the transcript for each task using
            <ref> tags. Output the complete list of tasks, descriptions, and citations
            within <backlog> tags. Use the information in knowledge base provided
            to find any additional relevant information that could help flesh out
            or provide context for that topic/task. Put any relevant supplemental
            information inside <additional_context> tags.


            {{#context#}}


            <topic_analysis>

            {{#1716553939927.text#}}

            </topic_analysis>


            <knowledge_base>

            {{#1716553209636.output#}}

            </knowledge_base>


            <transcript>

            {{#1718374049414.output#}}

            </transcript>


            '
        selected: false
        title: Sumnmarize
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 127
      id: '1716547224323'
      position:
        x: 280.4792461704177
        y: 94.41214452505932
      positionAbsolute:
        x: 280.4792461704177
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: is
          id: '1716551122579'
          value: 'True'
          variable_selector:
          - '1716352416629'
          - tag
        desc: ''
        logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1716551095978'
      position:
        x: 1627.0777095310054
        y: -1020.4574778708792
      positionAbsolute:
        x: 1627.0777095310054
        y: -1020.4574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1716352416629'
          - context
        desc: add punctuation, correct any grammatical errors, fills in gaps, corrects
          coherency issues
        model:
          completion_params: {}
          mode: chat
          name: llama3-70b-8192
          provider: groq
        prompt_template:
        - id: 6e527960-eb74-4dd9-ac59-b9be5354a564
          role: system
          text: 'Given the context, edit the transcript; add punctuation, correct
            any grammatical errors, fills in gaps, corrects coherency issues, and
            do so in the same style of the author.

            '
        - id: 4c4f3cdd-71b1-4c19-9435-5b55ed6ab78f
          role: user
          text: '<context>

            {{#context#}}

            </context>

            <transcript>

            {{#1718373686637.output#}}

            </transcript>'
        selected: false
        title: Puncuate
        type: llm
        variables: []
        vision:
          enabled: false
      height: 181
      id: '1716550584381'
      position:
        x: 276.07426972294684
        y: -504.16608643405624
      positionAbsolute:
        x: 276.07426972294684
        y: -504.16608643405624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#1718373686637.output#}}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: POS Tag
        type: http-request
        url: http://tinybot:4567/tag
        variables: []
      height: 89
      id: '1716551428726'
      position:
        x: 579.0742697229468
        y: -624.6660864340562
      positionAbsolute:
        x: 579.0742697229468
        y: -624.6660864340562
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        advanced_settings:
          group_enabled: true
          groups:
          - groupId: 2da95067-4a6a-48bf-9d80-d3c6b2f0fe25
            group_name: Group1
            output_type: string
            variables:
            - - '1716551555864'
              - output
          - groupId: c2629b08-a134-47ef-800b-be3dc3f0ca74
            group_name: Group2
            output_type: string
            variables:
            - - '1716551428726'
              - body
        desc: ''
        output_type: string
        selected: false
        title: AdjustedTranscript
        type: variable-assigner
        variables:
        - - '1716551428726'
          - body
        - - '1716551555864'
          - output
      height: 166
      id: '1716551482202'
      position:
        x: 1155.6742697229467
        y: -576.6660864340563
      positionAbsolute:
        x: 1155.6742697229467
        y: -576.6660864340563
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{{ text }}'
        title: Puncuated
        type: template-transform
        variables:
        - value_selector:
          - '1716550584381'
          - text
          variable: text
      height: 53
      id: '1716551555864'
      position:
        x: 579.0742697229468
        y: -486.16608643405624
      positionAbsolute:
        x: 579.0742697229468
        y: -486.16608643405624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{{ results[0] }}'
        title: kb results
        type: template-transform
        variables:
        - value_selector:
          - '1716546965405'
          - result
          variable: results
      height: 53
      id: '1716553209636'
      position:
        x: -325.5207538295824
        y: 94.41214452505932
      positionAbsolute:
        x: -325.5207538295824
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1718374049414'
          - output
          variable: output
        selected: false
        title: End 2
        type: end
      height: 89
      id: '1716553488107'
      position:
        x: 1350.4015278717534
        y: -130.12304506874
      positionAbsolute:
        x: 1350.4015278717534
        y: -130.12304506874
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: d2e65ce7-3963-4a79-b652-b8519cb20beb
          role: system
          text: '<prompt> Generate appropriate topic categories for the text:

            <text>{{#1718374049414.output#}}</text><reasoning>Explain your classification
            reasoning, comparing the text''s fit to the selected category versus other
            options.</reasoning>Output the selected category: <category>/category>
            </prompt>'
        selected: false
        title: Topic Class
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1716553939927'
      position:
        x: -22.520753829582418
        y: 94.41214452505932
      positionAbsolute:
        x: -22.520753829582418
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: is
          id: '1716555128065'
          value: 'True'
          variable_selector:
          - '1716352416629'
          - videoDesc
        desc: ''
        logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1716555123795'
      position:
        x: 583.4792461704177
        y: 94.41214452505932
      positionAbsolute:
        x: 583.4792461704177
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1716553939927'
          - text
        desc: ''
        model:
          completion_params:
            temperature: 0.2
            top_k: 150
          mode: chat
          name: claude-3-sonnet-20240229
          provider: anthropic
        prompt_template:
        - id: 630720a8-b5c9-48ed-887a-b73fbb994ca8
          role: system
          text: "Your task is to generate an engaging description for a video, suitable\
            \ for use as the video's metadata. You will be provided with context about\
            \ the video and a transcript of the video's dialogue or narration. \n\
            Here is the context:\n<context>\n{{#context#}}\n</context>\n\nFirst, carefully\
            \ read the provided context and transcript. Then, in a <brainstorm> section,\
            \ note down the key points, interesting facts, or hooks that you think\
            \ would grab a potential viewer's attention and should be included in\
            \ the video description. Focus on the most unique and compelling aspects.\n\
            After brainstorming, write the actual video description in an <answer>\
            \ section. Aim for 2-4 sentences. The description should incorporate the\
            \ key points you identified in your brainstorm. Use a measured, professional\
            \ tone but feel free to include some dry wit where appropriate to make\
            \ it engaging. The description should give viewers a good sense of what\
            \ the video covers and make them want to watch it. Remember, this description\
            \ will be used as the metadata for the video, so make it polished and\
            \ captivating.\n\n"
        - id: b7d6182a-c67c-49a2-8257-58bc792fa364
          role: user
          text: 'And here is the transcript:

            <transcript>

            {{#1718374049414.output#}}

            </transcript>'
        selected: false
        title: videoDesc
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1716555242896'
      position:
        x: 886.4792461704177
        y: 94.41214452505932
      positionAbsolute:
        x: 886.4792461704177
        y: 94.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1716547224323'
          - text
          variable: text
        selected: false
        title: End 3
        type: end
      height: 89
      id: '1716555525403'
      position:
        x: 886.4792461704177
        y: 231.41214452505932
      positionAbsolute:
        x: 886.4792461704177
        y: 231.41214452505932
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: not empty
          id: '1718373118658'
          value: ''
          variable_selector:
          - '1716352416629'
          - videoURL
        desc: ''
        logical_operator: and
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 125
      id: '1718373114979'
      position:
        x: 112.07770953100567
        y: -1020.4574778708792
      positionAbsolute:
        x: 112.07770953100567
        y: -1020.4574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: searchapi
        provider_name: searchapi
        provider_type: builtin
        selected: false
        title: YouTube Transcripts API
        tool_configurations: {}
        tool_label: YouTube Transcripts API
        tool_name: youtube_transcripts_api
        tool_parameters:
          language:
            type: mixed
            value: en
          video_id:
            type: mixed
            value: '{{#1718373220864.videoID#}}'
        type: tool
      height: 53
      id: '1718373133176'
      position:
        x: 718.0777095310057
        y: -941.9574778708792
      positionAbsolute:
        x: 718.0777095310057
        y: -941.9574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        instruction: 'Extract the video ID from the URL

          Used to define the video you want to search. For example - https://www.youtube.com/watch?v=video_id.'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        parameters:
        - description: Extract the video ID from the URL
          name: videoID
          required: true
          type: string
        query:
        - '1716352416629'
        - videoURL
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor
        type: parameter-extractor
        variables: []
      height: 97
      id: '1718373220864'
      position:
        x: 415.07770953100567
        y: -941.9574778708792
      positionAbsolute:
        x: 415.07770953100567
        y: -941.9574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        advanced_settings:
          group_enabled: true
          groups:
          - groupId: 348672b7-14a0-430b-b6ef-6696437c8cb9
            group_name: Group1
            output_type: string
            variables:
            - - '1716352416629'
              - transcript
          - groupId: f30b4cb9-047d-4992-9af2-236d4b5cb5d7
            group_name: Group2
            output_type: string
            variables:
            - - '1718373133176'
              - text
        desc: ''
        output_type: string
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1716352416629'
          - transcript
      height: 166
      id: '1718373409478'
      position:
        x: 1021.0777095310056
        y: -1020.4574778708792
      positionAbsolute:
        x: 1021.0777095310056
        y: -1020.4574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{% if transcript is defined %}


          {{ transcript }}


          {% endif %}


          {% if plaintext is defined %}


          {{ plaintext }}


          {% endif %}'
        title: Template 4
        type: template-transform
        variables:
        - value_selector:
          - '1718373133176'
          - text
          variable: transcript
        - value_selector:
          - '1716352416629'
          - transcript
          variable: plaintext
      height: 53
      id: '1718373686637'
      position:
        x: 1324.0777095310054
        y: -1020.4574778708792
      positionAbsolute:
        x: 1324.0777095310054
        y: -1020.4574778708792
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: '{% if Group1 is defined %}


          {{ Group1 }}


          {% endif %}


          {% if Group2 is defined %}


          {{ Group2 }}


          {% endif %}'
        title: Template 5
        type: template-transform
        variables:
        - value_selector:
          - '1716551482202'
          - Group1
          variable: Group1
        - value_selector:
          - '1716551482202'
          - Group2
          variable: Group2
      height: 53
      id: '1718374049414'
      position:
        x: 427.0657569357237
        y: -243.2726068701524
      positionAbsolute:
        x: 427.0657569357237
        y: -243.2726068701524
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 532.066406219391
      y: 841.5689899646368
      zoom: 0.44721311603967606
